{% extends "layout.html" %}

{% block page_title %}
  Your account
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/">Digital Marketplace</a></li>
    </ol>
  </nav>
</div>

<main id="content" role="main">
  	<div class="grid-row">
	    <div class="column-two-thirds">
	      <h1 class="heading-large" style="margin-bottom: 20px">
	        Tasklist for finding cloud hosting, software and support
	      </h1>
	      <ul>
	      	<li>
	      		<p><a href="/index-1">1</a><br/>
	      		<!-- bla bla --></p>
	      	</li>
	      	<li>
	      		<p><a href="/index-2">2</a><br/>
	      		<!-- bla bla --></p>
	      	</li>
	      	<li>
	      		<p><a href="/index-3">3</a><br/>
	      		<!-- bla bla --></p>
	      	</li>
	      	<li>
	      		<p><a href="/index-4">4</a><br/>
	      		<!-- bla bla --></p>
	      	</li>
	      	<li>
	      		<p><a href="/index-5">5</a><br/>
	      		<!-- bla bla --></p>
	      	</li>
	      	<li>
	      		<p><a href="/index-6">6</a><br/>
	      		<!-- bla bla --></p>
	      	</li>
	      	<li>
	      		<p><a href="/index-7">7</a><br/>
	      		<!-- bla bla --></p>
	      	</li>

	    </div>
	</div>
</main>

{% endblock %}
