{% extends "layout.html" %}

{% block page_title %}
  Search – Digital Marketplace
{% endblock %}

{% block content %}
<link type="text/css" rel="stylesheet" media="screen" href="/public/stylesheets/dm-styles.css" />
<style>
 a, button, input[type="submit"] {
 	pointer-events: none !important;
 }
</style>

<div id="global-breadcrumb" class="header-context">
  <nav>
    <ol class="group" role="breadcrumbs">
        <li><a href="/" class="can-click">Digital Marketplace</a></li>      
    </ol>
  </nav>
</div>

<div id="wrapper">
    <main id="content" role="main">
      
  

      
<header class="page-heading">
        <h1>Search results</h1>
</header>
<div id="js-dm-live-search-wrapper" class="grid-row search-results-page">
  <form action="/g-cloud/search" method="get" id="js-dm-live-search-form">
    <section class="column-one-third search-page-filters" aria-label="Search filters">
          
  <div class="govuk-option-select filter-field-text js-collapsible">
  <div class="container-head">
    <label class="option-select-label" for="keywords">
      Keyword search
    </label>
  </div>
  <div class="container-search">
    <input type="search" name="q" id="keywords" value="cms" maxlength="200">
    <input class="submit" type="submit" value="Search">
  </div>
</div>


<div id="js-dm-live-search-categories" class="js-dm-live-search-fade" style="opacity: 1;">
  <div class="lot-filters">
    <h2>Choose a category</h2>
    
    
  

  
  
  

  <ul>
    
      
         
  
    <li><a href="/g-cloud/search?resellingType=not_reseller&amp;q=cms" class="lot-filters__top-level-link">All categories</a>
  

  
    
  

  
  
  

  <ul>
    
      
         
  
    <li><a href="/g-cloud/search?cloudDeploymentModel=public&amp;resellingType=not_reseller&amp;browsersAccess=true&amp;metricsHow=regular_reports&amp;dataProtectionBetweenNetworks=tls&amp;dataStorageAndProcessingLocations=uk&amp;managementAccessAuthentication=two_factor&amp;securityGovernanceStandards=csa_ccm&amp;q=cms&amp;lot=cloud-software" class="lot-filters__top-level-link">Cloud software</a>
  

  
    
  

  
  
  

  <ul>
    
      
         
  
    <li aria-current="page"><strong>Creative, design and publishing</strong>
  

  
    
  

  
  
  

  <ul class="lot-filters--last-list">
    
      
        <li>Accessibility checking (0)</li>
      
    
      
        <li>Blogging (0)</li>
      
    
      
        <li><a href="/g-cloud/search?cloudDeploymentModel=public&amp;resellingType=not_reseller&amp;browsersAccess=true&amp;metricsHow=regular_reports&amp;dataProtectionBetweenNetworks=tls&amp;dataStorageAndProcessingLocations=uk&amp;managementAccessAuthentication=two_factor&amp;securityGovernanceStandards=csa_ccm&amp;q=cms&amp;parentCategory=creative+design+and+publishing&amp;lot=cloud-software&amp;serviceCategories=content+management+system+%28cms%29">Content management system (CMS) (3)</a></li>
      
    
      
        <li>Design (0)</li>
      
    
      
        <li>Diagram and wireframe (0)</li>
      
    
      
        <li>Digital publishing (0)</li>
      
    
      
        <li>Online forums (0)</li>
      
    
      
        <li>Photography and multimedia (0)</li>
      
    
      
        <li>Presentations and slides (office productivity) (0)</li>
      
    
      
        <li>Social networking (0)</li>
      
    
      
        <li>Word processing (office productivity) (0)</li>
      
    
  </ul>
  
  </li>
      
    
  </ul>
  
  </li>
      
    
  </ul>
  
  </li>
      
    
  </ul>
  </div>
</div>


  <input type="hidden" name="lot" value="cloud-software">

  <input type="hidden" name="serviceCategories" value="creative design and publishing">


<div class="dm-filters">
                    <div id="js-dm-live-filter-title" class="dm-filter-title js-dm-live-search-fade">
    <h2 class="apply-filters-title">Apply filters</h2>
    <a id="dm-clear-all-filters" class="clear-filters-link" href="/g-cloud/search?q=cms&amp;lot=cloud-software&amp;serviceCategories=creative+design+and+publishing" role="button">Clear filters</a>
  </div>
  <div>
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="cloud-deployment-model">
    <div class="option-select-label">Cloud deployment model</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="cloud-deployment-model" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="cloudDeploymentModel-public">
          <input name="cloudDeploymentModel" value="public" id="cloudDeploymentModel-public" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Public cloud
        </label>
      
        <label for="cloudDeploymentModel-private">
          <input name="cloudDeploymentModel" value="private" id="cloudDeploymentModel-private" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Private cloud
        </label>
      
        <label for="cloudDeploymentModel-community">
          <input name="cloudDeploymentModel" value="community" id="cloudDeploymentModel-community" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Community cloud
        </label>
      
        <label for="cloudDeploymentModel-hybrid">
          <input name="cloudDeploymentModel" value="hybrid" id="cloudDeploymentModel-hybrid" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Hybrid cloud
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="supplier-type">
    <div class="option-select-label">Supplier type</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="supplier-type" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="resellingType-not_reseller">
          <input name="resellingType" value="not_reseller" id="resellingType-not_reseller" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Not a reseller
        </label>
      
        <label for="resellingType-reseller_extra_features_and_support">
          <input name="resellingType" value="reseller_extra_features_and_support" id="resellingType-reseller_extra_features_and_support" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Reseller providing extra features and support
        </label>
      
        <label for="resellingType-reseller_extra_support">
          <input name="resellingType" value="reseller_extra_support" id="resellingType-reseller_extra_support" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Reseller providing extra support
        </label>
      
        <label for="resellingType-reseller_no_extras">
          <input name="resellingType" value="reseller_no_extras" id="resellingType-reseller_no_extras" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Reseller (no extras)
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="user-support">
    <div class="option-select-label">User support</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="user-support" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="emailOrTicketingSupport-yes">
          <input name="emailOrTicketingSupport" value="yes" id="emailOrTicketingSupport-yes" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Email or online ticketing
        </label>
      
        <label for="phoneSupport">
          <input name="phoneSupport" value="true" id="phoneSupport" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Phone
        </label>
      
        <label for="webChatSupport-yes">
          <input name="webChatSupport" value="yes" id="webChatSupport-yes" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Web chat
        </label>
      
        <label for="onsiteSupport-yes">
          <input name="onsiteSupport" value="yes" id="onsiteSupport-yes" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Onsite support
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="using-the-service">
    <div class="option-select-label">Using the service</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="using-the-service" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="browsersAccess">
          <input name="browsersAccess" value="true" id="browsersAccess" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Web browser interface
        </label>
      
        <label for="installation">
          <input name="installation" value="true" id="installation" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Application to install
        </label>
      
        <label for="mobile">
          <input name="mobile" value="true" id="mobile" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Mobile devices
        </label>
      
        <label for="APISoftware">
          <input name="APISoftware" value="true" id="APISoftware" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          API
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="metrics-reporting">
    <div class="option-select-label">Metrics reporting</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="metrics-reporting" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="metricsHow-api">
          <input name="metricsHow" value="api" id="metricsHow-api" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          API access
        </label>
      
        <label for="metricsHow-real_time">
          <input name="metricsHow" value="real_time" id="metricsHow-real_time" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Real-time dashboards
        </label>
      
        <label for="metricsHow-regular_reports">
          <input name="metricsHow" value="regular_reports" id="metricsHow-regular_reports" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Regular reports
        </label>
      
        <label for="metricsHow-on_request">
          <input name="metricsHow" value="on_request" id="metricsHow-on_request" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Reports on request
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="connected-public-sector-networks">
    <div class="option-select-label">Connected public sector networks</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="connected-public-sector-networks" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="publicSectorNetworksTypes-psn">
          <input name="publicSectorNetworksTypes" value="psn" id="publicSectorNetworksTypes-psn" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Public Services Network (PSN)
        </label>
      
        <label for="publicSectorNetworksTypes-pnn">
          <input name="publicSectorNetworksTypes" value="pnn" id="publicSectorNetworksTypes-pnn" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Police National Network (PNN)
        </label>
      
        <label for="publicSectorNetworksTypes-n3">
          <input name="publicSectorNetworksTypes" value="n3" id="publicSectorNetworksTypes-n3" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          New NHS Network (N3)
        </label>
      
        <label for="publicSectorNetworksTypes-janet">
          <input name="publicSectorNetworksTypes" value="janet" id="publicSectorNetworksTypes-janet" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Joint Academic Network (JANET)
        </label>
      
        <label for="publicSectorNetworksTypes-swan">
          <input name="publicSectorNetworksTypes" value="swan" id="publicSectorNetworksTypes-swan" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Scottish Wide Area Network (SWAN)
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="data-protection-between-buyer-and-supplier-networks">
    <div class="option-select-label">Data protection between buyer and supplier networks</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="data-protection-between-buyer-and-supplier-networks" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="dataProtectionBetweenNetworks-private_or_psn">
          <input name="dataProtectionBetweenNetworks" value="private_or_psn" id="dataProtectionBetweenNetworks-private_or_psn" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Private network or public sector network
        </label>
      
        <label for="dataProtectionBetweenNetworks-tls">
          <input name="dataProtectionBetweenNetworks" value="tls" id="dataProtectionBetweenNetworks-tls" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          TLS (version 1.2 or above)
        </label>
      
        <label for="dataProtectionBetweenNetworks-ipsec_or_vpn">
          <input name="dataProtectionBetweenNetworks" value="ipsec_or_vpn" id="dataProtectionBetweenNetworks-ipsec_or_vpn" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          IPsec or TLS VPN gateway
        </label>
      
        <label for="dataProtectionBetweenNetworks-bonded_fibre">
          <input name="dataProtectionBetweenNetworks" value="bonded_fibre" id="dataProtectionBetweenNetworks-bonded_fibre" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Bonded fibre optic connections
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="data-protection-within-supplier-network">
    <div class="option-select-label">Data protection within supplier network</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="data-protection-within-supplier-network" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="dataProtectionWithinNetwork-tls">
          <input name="dataProtectionWithinNetwork" value="tls" id="dataProtectionWithinNetwork-tls" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          TLS (version 1.2 or above)
        </label>
      
        <label for="dataProtectionWithinNetwork-ipsec_or_vpn">
          <input name="dataProtectionWithinNetwork" value="ipsec_or_vpn" id="dataProtectionWithinNetwork-ipsec_or_vpn" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          IPsec or TLS VPN gateway
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="data-storage-and-processing-locations">
    <div class="option-select-label">Data storage and processing locations</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="data-storage-and-processing-locations" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="dataStorageAndProcessingLocations-uk">
          <input name="dataStorageAndProcessingLocations" value="uk" id="dataStorageAndProcessingLocations-uk" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          United Kingdom
        </label>
      
        <label for="dataStorageAndProcessingLocations-eea">
          <input name="dataStorageAndProcessingLocations" value="eea" id="dataStorageAndProcessingLocations-eea" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          European Economic Area (EEA)
        </label>
      
        <label for="dataStorageAndProcessingLocations-privacy_shield">
          <input name="dataStorageAndProcessingLocations" value="privacy_shield" id="dataStorageAndProcessingLocations-privacy_shield" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          EU-US Privacy Shield agreement locations
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="user-authentication">
    <div class="option-select-label">User authentication</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="user-authentication" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="userAuthentication-two_factor">
          <input name="userAuthentication" value="two_factor" id="userAuthentication-two_factor" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          2-factor authentication
        </label>
      
        <label for="userAuthentication-pka">
          <input name="userAuthentication" value="pka" id="userAuthentication-pka" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Public key authentication (including by TLS client certificate)
        </label>
      
        <label for="userAuthentication-identity_federation">
          <input name="userAuthentication" value="identity_federation" id="userAuthentication-identity_federation" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Identity federation with existing provider (for example Google Apps)
        </label>
      
        <label for="userAuthentication-government_network">
          <input name="userAuthentication" value="government_network" id="userAuthentication-government_network" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Limited access network (for example PSN)
        </label>
      
        <label for="userAuthentication-dedicated_link">
          <input name="userAuthentication" value="dedicated_link" id="userAuthentication-dedicated_link" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Dedicated link (for example VPN)
        </label>
      
        <label for="userAuthentication-username_or_password">
          <input name="userAuthentication" value="username_or_password" id="userAuthentication-username_or_password" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Username or password
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="management-access-authentication">
    <div class="option-select-label">Management access authentication</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="management-access-authentication" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="managementAccessAuthentication-two_factor">
          <input name="managementAccessAuthentication" value="two_factor" id="managementAccessAuthentication-two_factor" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          2-factor authentication
        </label>
      
        <label for="managementAccessAuthentication-public_key">
          <input name="managementAccessAuthentication" value="public_key" id="managementAccessAuthentication-public_key" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Public key authentication (including by TLS client certificate)
        </label>
      
        <label for="managementAccessAuthentication-identity_federation">
          <input name="managementAccessAuthentication" value="identity_federation" id="managementAccessAuthentication-identity_federation" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Identity federation with existing provider (for example Google Apps)
        </label>
      
        <label for="managementAccessAuthentication-government_network">
          <input name="managementAccessAuthentication" value="government_network" id="managementAccessAuthentication-government_network" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Limited access network (for example PSN)
        </label>
      
        <label for="managementAccessAuthentication-dedicated_link">
          <input name="managementAccessAuthentication" value="dedicated_link" id="managementAccessAuthentication-dedicated_link" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Dedicated link (for example VPN)
        </label>
      
        <label for="managementAccessAuthentication-username_or_password">
          <input name="managementAccessAuthentication" value="username_or_password" id="managementAccessAuthentication-username_or_password" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Username or password
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="security-certification">
    <div class="option-select-label">Security certification</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="security-certification" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="standardsISOIEC27001">
          <input name="standardsISOIEC27001" value="true" id="standardsISOIEC27001" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          ISO/IEC 27001 (service security)
        </label>
      
        <label for="standardsISO28000">
          <input name="standardsISO28000" value="true" id="standardsISO28000" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          ISO 28000:2007 (supply chain security)
        </label>
      
        <label for="standardsCSASTAR">
          <input name="standardsCSASTAR" value="true" id="standardsCSASTAR" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          CSA STAR (service security)
        </label>
      
        <label for="standardsPCI">
          <input name="standardsPCI" value="true" id="standardsPCI" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          PCI DSS (payment card security)
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="security-governance-standards">
    <div class="option-select-label">Security governance standards</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="security-governance-standards" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="securityGovernanceStandards-csa_ccm">
          <input name="securityGovernanceStandards" value="csa_ccm" id="securityGovernanceStandards-csa_ccm" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          CSA CCM version 3.0
        </label>
      
        <label for="securityGovernanceStandards-iso_iec_27001">
          <input name="securityGovernanceStandards" value="iso_iec_27001" id="securityGovernanceStandards-iso_iec_27001" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          ISO/IEC 27001
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="datacentre-security-standard">
    <div class="option-select-label">Datacentre security standard</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="datacentre-security-standard" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="datacentreSecurityStandards-recognised_standard">
          <input name="datacentreSecurityStandards" value="recognised_standard" id="datacentreSecurityStandards-recognised_standard" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Complies with a recognised standard (for example CSA CCM version 3.0)
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="staff-security-clearance">
    <div class="option-select-label">Staff security clearance</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="staff-security-clearance" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="staffSecurityClearanceChecks-staff_screening_to_bs7858_2012">
          <input name="staffSecurityClearanceChecks" value="staff_screening_to_bs7858_2012" id="staffSecurityClearanceChecks-staff_screening_to_bs7858_2012" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Conforms to BS7858:2012
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="minimum-government-security-clearance">
    <div class="option-select-label">Minimum government security clearance</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="minimum-government-security-clearance" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="governmentSecurityClearances-dv">
          <input name="governmentSecurityClearances" value="dv" id="governmentSecurityClearances-dv" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Developed Vetting (DV)
        </label>
      
        <label for="governmentSecurityClearances-sc">
          <input name="governmentSecurityClearances" value="sc" id="governmentSecurityClearances-sc" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Security Clearance (SC)
        </label>
      
        <label for="governmentSecurityClearances-bpss">
          <input name="governmentSecurityClearances" value="bpss" id="governmentSecurityClearances-bpss" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Baseline Personnel Security Standard (BPSS)
        </label>
      
    </div>
  </div>
</div>
      
    
      
        <div class="govuk-option-select js-collapsible">
  <button class="js-container-head" type="button" aria-expanded="false" aria-controls="pricing-options">
    <div class="option-select-label">Pricing options</div>
  <div class="js-selected-counter"></div></button>
  <div class="options-container" id="pricing-options" data-framework="g-cloud" data-current-lot="cloud-software">
    <div class="js-auto-height-inner">
      
        <label for="educationPricing">
          <input name="educationPricing" value="true" id="educationPricing" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Discount for educational organisations
        </label>
      
        <label for="freeVersionTrialOption">
          <input name="freeVersionTrialOption" value="true" id="freeVersionTrialOption" type="checkbox" aria-controls="search-summary-accessible-hint-wrapper">
          Free trial
        </label>
      
    </div>
  </div>
</div>
      
    
  </div>
  <button class="button-save js-hidden js-dm-live-search" type="submit" aria-controls="search-summary-accessible-hint-wrapper">Filter</button>
</div>
    </section>
  </form>
  <section class="column-two-thirds" aria-label="Search results">
    
    <div id="search-summary-accessible-hint-wrapper" class="search-summary-accessible-hint-wrapper" aria-atomic="true" aria-live="polite" aria-relevant="additions text">
      <div id="js-dm-live-search-summary-accessible-hint">
  3 results found
</div>
    </div>
    <div id="js-dm-live-search-summary" class="js-dm-live-search-fade" style="opacity: 1;">
  <p class="search-summary">
    <span class="search-summary-count">3</span> results found containing <em>cms</em> in <em>Cloud software</em> in the category <em>Creative, design and publishing</em>, deployable to a <em>public cloud</em>, where the supplier is <em>not a reseller</em>, where users can access the service through a <em>web browser interface</em>, where usage metrics are provided through <em>regular reports</em>, where data protection between buyer and supplier networks includes <em>TLS (version 1.2 or above)</em>, where data storage and processing locations include the <em>United Kingdom</em>, where service managers and administrators authenticate with <em>2-factor authentication</em> and where suppliers comply with security governance standard <em>CSA CCM version 3.0</em>
  </p>

  

</div>
    <div id="js-dm-live-save-search-form">
  <form action="/buyers/direct-award/g-cloud/save-search">
    <input type="hidden" name="search_query" value="serviceCategories=creative+design+and+publishing&amp;cloudDeploymentModel=public&amp;resellingType=not_reseller&amp;browsersAccess=true&amp;metricsHow=regular_reports&amp;dataProtectionBetweenNetworks=tls&amp;dataStorageAndProcessingLocations=uk&amp;managementAccessAuthentication=two_factor&amp;securityGovernanceStandards=csa_ccm&amp;q=cms&amp;lot=cloud-software">
    <div class="button-save-wrapper grid-row">
      <div class="save-summary-text column-three-quarters">
        Save details of your search and download your search results.
      </div>
      <div class="save-button column-one-quarter">
        <button id="save-search" class="button-save" role="button" type="submit" data-analytics="trackEvent" data-analytics-category="Direct Award" data-analytics-action="Save search" data-analytics-label="3">
          Save search
        </button>
      </div>
    </div>
  </form>
</div>
    <div id="js-dm-live-search-results" class="js-dm-live-search-fade" style="opacity: 1;">
  
<div class="search-result">
  <h2 class="search-result-title">
        <a href="/g-cloud/services/174848441217340">DXC Technology Mobile Content Management</a>
    </h2>

    <p class="search-result-supplier">
        EntServ UK Ltd part of the DXC Technologies Group
    </p>

    <p class="search-result-excerpt">
        DXC Technology Mobile Content Management is a secure file synchronisation and sharing tool, enabling users to securely collaborate in the cloud. Using this offering allows employees to gain connectivity to documents and files from mobile devices – anytime, anyplace; enhancing workplace mobility and employee satisfaction. 
    </p>
    <ul aria-label="tags" class="search-result-metadata">
        <li class="search-result-metadata-item-inline">
            Cloud software
        </li>
        <li class="search-result-metadata-item-inline">
            G-Cloud 9
        </li>
    </ul>
</div>

<div class="search-result">
  <h2 class="search-result-title">
        <a href="/g-cloud/services/380733466662753">AI.CLOUD SERVICES</a>
    </h2>

    <p class="search-result-supplier">
        Automated Intelligence Limited
    </p>

    <p class="search-result-excerpt">
        Using AI.CLOUD SERVICES allows organisations to safely take archive ready data into a highly secured cloud environment for more efficient management over the remainder of its life cycle. 
    </p>
    <ul aria-label="tags" class="search-result-metadata">
        <li class="search-result-metadata-item-inline">
            Cloud software
        </li>
        <li class="search-result-metadata-item-inline">
            G-Cloud 9
        </li>
    </ul>
</div>

<div class="search-result">
  <h2 class="search-result-title">
        <a href="/g-cloud/services/420604056463964">AI.DATALIFT</a>
    </h2>

    <p class="search-result-supplier">
        Automated Intelligence Limited
    </p>

    <p class="search-result-excerpt">
        AI.DATALIFT helps enterprises gain insight, remediate and migrate their unstructured data at scale to reduce cost, reduce risk and increase information governance. AI.DATALIFT can analyse what data is being stored and intelligently migrate it to the appropriate cloud-based ECM and cloud storage platforms. 
    </p>
    <ul aria-label="tags" class="search-result-metadata">
        <li class="search-result-metadata-item-inline">
            Cloud software
        </li>
        <li class="search-result-metadata-item-inline">
            G-Cloud 9
        </li>
    </ul>
</div>
</div>
  </section>


</div>

    </main>
  </div>
<div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve the Digital Marketplace</h2>
      <form autocomplete="off" action="/feedback" method="post">
        <input type="hidden" name="csrf_token" value="IjQzN2Y4OGZmMGI2NjJkZjg3Yzk1MTQ0MzlmZDkzMzQ4Y2JkNDdmYjIi.Dc20Pg.1_oZpT2bmlYU52mWvefuSbKPelQ">
        <input id="uri" name="uri" type="hidden" value="https://www.digitalmarketplace.service.gov.uk/g-cloud/search?q=">

        <p>Please do not include personal details or sensitive information about your organisation or department.</p>

        <label for="what_doing">What were you doing?</label>
        <input autocomplete="off" id="what_doing" name="what_doing" type="text">

        <label for="what_happened">What happened?</label>
        <input autocomplete="off" id="what_happened" name="what_happened" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
